
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1509529240678'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1509529240678#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1509529240678') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1509529240678') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1509529240678#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fold:before { content: "\e7a2"; }

.icon-unfold:before { content: "\e7a3"; }

.icon-user:before { content: "\e600"; }

.icon-add:before { content: "\e62c"; }

.icon-host:before { content: "\e65d"; }

.icon-task:before { content: "\e643"; }

.icon-down:before { content: "\e638"; }

.icon-dowm2:before { content: "\e7c1"; }

.icon-search:before { content: "\e601"; }

.icon-see:before { content: "\e662"; }

.icon-up:before { content: "\e6ad"; }

.icon-userMgr:before { content: "\e604"; }

.icon-down1:before { content: "\e610"; }

.icon-modiffy:before { content: "\e602"; }

.icon-home:before { content: "\e698"; }

.icon-info:before { content: "\e672"; }

.icon-delete:before { content: "\e603"; }

.icon-policy:before { content: "\e614"; }

.icon-up1:before { content: "\e605"; }

.icon-volume:before { content: "\e606"; }

